.main-body{
    background-color: var(--mainbg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    gap: 30px;
}

h1{
    text-align: center;
    font-size: 70px;
    cursor: default;
}

.getstartbtn{
    text-decoration: none;
    color: #ffffff;
    padding: 10px 30px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    background-color: #000000;
    transition: all 0.3s ease;
}

.getstartbtn:hover{
    border-radius: 5px;
    background-color: #000000b4;
}
